<body>

    <form novalidate #user="ngForm" (ngSubmit)="forgotpassword(user)">
        <div class="login">
            <div class="card">
                <h1>Know your Pasword</h1>
                <br><br>

                <div class="box">
                    <input type="email" name="email" placeholder="Email Id" ngModel required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel">
                </div>

                <div class="error" *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                    &#10060; Email should be valid!
                </div>

                <br><br>
                <div class="button">
                    <button class="btn btn-info" type="submit" [disabled]="!user?.valid">Submit</button>
                </div>
            </div>
        </div>
    </form>

</body>