<body>

    <form novalidate #user="ngForm" (ngSubmit)="authenticateUser(user)">
        <div class="login">

            <div class="card">
                <h1>Login</h1>

                <div class="box">
                    <input type="email" name="email" placeholder="UserName" ngModel required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel">
                </div><br>

                <div class="error" *ngIf="!email?.valid && (email?.dirty || email?.touched)">
                    &#10060; Email should be valid!
                </div>

                <div class="box">
                    <input type="password" name="password" placeholder="Password" ngModel required>
                </div><br>

                <div class="button">
                    <button class="btn" type="submit" [disabled]="!user?.valid">Login</button>
                </div>

                <div class="sign_in">
                    <a routerLink="/register"><i>not on fscm yet? sign up</i></a> <br>
                </div>
                <div class="sign_in">
                    <a routerLink="/forgotpassword" style="color: red;"><i>Forgot password?</i></a> <br><br>
                </div>
            </div>
        </div>
    </form>
</body>