<html>

<body>
    <div class="card">
        <h1 style="color: #008080;">About Us</h1><br>
        <p> We've had an amazing journey coming to where we are today and now feel confident that we can provide you a professional and effective solution in a timely manner. We have extensive skills in the following areas:
            <br>
            <li>Creating clean ,accessible <b>HTML</b></li>
            <li>Writing <b>CSS</b> and <b>BOOTSTRAP</b> to make your site look beautiful</li>
            <li>Writing functional ,useful code to power application using <b>SPRINGBOOT</b> and <b>ANGULAR</b></li>
        </p>
    </div>
</body>

</html>