<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <div class="changepassword">
        <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit()">
            <br>
            <div class="card">
                <h1>Update Password </h1>
                <div class="box">
                    <input [type]="show? 'text' : 'password'" name="password" placeholder="Password" [(ngModel)]="user.password" readonly>
                    <i (click)="password()" [class]="show?'far fa-eye':'far fa-eye-slash'" id="togglePassword"></i>
                </div>

                <div class="box">
                    <input type="password" name="newPassword" placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="newPassword" required #newpassword="ngModel">
                </div>
                <div class="error" *ngIf="!newpassword?.valid && (newpassword?.dirty || newpassword?.touched)">
                    &#10060; Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters!
                </div>

                <div class="box">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required #confirmpassword="ngModel">
                </div>
                <div class="error" *ngIf="confirmpassword.value!=newpassword.value && (confirmpassword?.dirty || confirmpassword?.touched)">
                    &#10060;Password mismatch!
                </div>
                <br>
                <div class="button">
                    <button type="submit" class="btn btn-info" [disabled]="!userForm?.valid">Change Password</button>&nbsp;&nbsp;
                </div>

            </div>
        </form>

    </div>
</body>